<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= t('your_messages') %></h3>
	  </div>
	  <div class="panel-body">
		<div class="row">
		  <div class="col-xs-4 col-md-3">
		    <a href="#" class="thumbnail">
		      <%= image_tag "default_profile.jpg" %>
		    </a>
		  </div>
		      <strong>Anim pariatur cliche</strong>
			 reprehenderit, enim eiusmod high life accusamus terry ...
		</div>
		<div class="row">
		  <div class="col-xs-4 col-md-3">
		    <a href="#" class="thumbnail">
		      <%= image_tag "default_profile.jpg" %>
		    </a>
		  </div>
		      <strong>Anim pariatur cliche</strong>
			 reprehenderit, enim eiusmod high life accusamus terry ...
		</div>
		<div class="row">
		  <div class="col-xs-4 col-md-3">
		    <a href="#" class="thumbnail">
		      <%= image_tag "default_profile.jpg" %>
		    </a>
		  </div>
		      <strong>Anim pariatur cliche</strong>
			 reprehenderit, enim eiusmod high life accusamus terry ...
		</div>
		<div class="row">
		  <div class="col-xs-4 col-md-3">
		    <a href="#" class="thumbnail">
		      <%= image_tag "default_profile.jpg" %>
		    </a>
		  </div>
		      <strong>Anim pariatur cliche</strong>
			 reprehenderit, enim eiusmod high life accusamus terry ...
		</div>
	  </div>
</div>