<div id="main">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
	          <h2 class="splash-text"> <%= t('splash_lead') %><h2><br/>
              <h4 class="splash-text"><%= t('splash_sub') %></h4>
	      </div><!-- /.md-8 -->
          <div class="col-md-3">
	          <div class="authform">
			  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
			    <%= devise_error_messages! %>
			    <div class="form-group">
			      <%= f.label :email, :class => "sr-only" %>
			      <%= f.email_field :email, :autofocus => true, class: 'form-control', :placeholder => User.human_attribute_name("email") %>
			    </div>
			    <div class="form-group">
			      <%= f.label :password, :class => "sr-only" %>
			      <%= f.password_field :password, class: 'form-control', :placeholder => User.human_attribute_name("password") %>
			    </div>
			      <%= f.submit t('button.signin'), :class => 'button right' %>
			      <% if devise_mapping.rememberable? -%>
			        <div class="checkbox">
			          <%= f.check_box :remember_me %> <%= f.label t('remember_me') %>
			        </div>
			      <% end -%>
			      <%- if devise_mapping.recoverable? %>
			        <%= link_to  t('forgot_password'), new_password_path(resource_name), class: 'right' %>
			      <% end -%>
			  <% end %>
			</div>
              <div class="authform">
			  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
			    <h3><%= t('new_here') %><small><%= t('button.signup') %></small></h3>
			    <%= devise_error_messages! %>
			    <div class="form-group">
			      <%= f.label :name, :class => "sr-only" %>
			      <%= f.text_field :name, :autofocus => true, class: 'form-control', :placeholder => User.human_attribute_name("name") %>
			    </div>
			    <div class="form-group">
			      <%= f.label :email, :class => "sr-only" %>
			      <%= f.email_field :email, class: 'form-control', :placeholder => User.human_attribute_name("email") %>
			    </div>
			    <div class="form-group">
			      <%= f.label :password, :class => "sr-only"%>
			      <%= f.password_field :password, class: 'form-control', :placeholder => User.human_attribute_name("password")  %>
			    </div>
			    <div class="form-group">
			      <%= f.label :password_confirmation, :class => "sr-only" %>
			      <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => User.human_attribute_name("password_confirmation") %>
			    </div>
			     <%= f.submit t('button.signup'), :class => 'button right' %>
			  <% end %>
			</div>
          </div><!-- /.mid-3 -->
          <div class="col-md-1">
          </div><!-- /.mid-1 -->
	    </div><!-- /.row -->
      </div><!-- /.container-fluid -->
  </div><!-- /.main-->